body{
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 700;
    line-height: 30px;
}
header{
    height: 100px;
    width: 1440px;
    position: fixed;
    background-color: #151515de;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}
header > .logo{
    width: 12%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header > .logo:hover{
    background-color: rgb(70, 70, 70);
}
header > .logo > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header > .logo > a > img{
    height: 90%;
}
header > nav{
    width: 88%;
    height: 100%;
    font-size: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}
header > nav > .item{
    height: 100%;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header > nav > .item:hover{
    background-color: rgb(70, 70, 70);
}
header > nav > .purchase{
    background-color: red;
    height: 100%;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header > nav > .purchase:hover{
    transform: scale(1.1);
}
a{
    text-decoration: none;
    color: white;
}
main{
    width: 1440px;
    height: 100%;
    position: static;
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
main > .grid{
    margin-top: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(12 , 1fr);
    column-gap: 30px;
    row-gap: 40px;
    justify-items: center;
}
main > .grid > .survivor{
    width: 440px;
    height: 440px;
    padding: 5px;
    border: #2c2c2c solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(16, 16, 16, 0) 0%, #1C1C1C 51.56%, rgba(16, 16, 16, 0) 100%);
}
main > .grid > .survivor:hover{
    background-color: rgb(70, 70, 70);
}
main > .grid > .survivor > .text{
    width: 90%;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.ahh > .text{
    width: 90%;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
main > .grid > .survivor > img , .ahh > img{
    height: 250px;
    margin-top: -70px;
}
main > footer{
    width: 100%;
    height: 210px;
    font-size: 20px;
    display: flex;
    align-items: flex-end;
    background: linear-gradient(360deg, #212121 3%, rgba(0, 0, 0, 0) 50%);
}
main > footer > p{
    margin-bottom: 20px;
    margin-left: 20px;
}
h1{
    font-size: 96px;
    margin-top: 50px;
    text-align: center;
}
h2{
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ahh{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.911);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width:1439px){
    header{
        width: 100px;
        right: 0px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        flex-direction: column;
    }
    header > .logo{
        margin-right: 0px;
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header > nav{
        width: 100%;
        height: 70%;
        flex-direction: column;
        font-size: 60px;
    }
    header > nav > .item{
        height: 150px;
        width: 100%;
        
    }
    header > nav > .purchase{
        height: 150px;
        width: 100%;

    }
    header > .logo{
        width: 100%;
        height: 15%;
    }
    header > .bar{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header > .bar:hover{
        background-color: rgb(70, 70, 70);
    }
    header > .bar > i{
        font-size: 70px;
        color: white;
    }
    main{
        width: 100%;
    }
    main > .grid{
        grid-template-columns: repeat(2 , 1fr);
        grid-template-rows: repeat(18 , 1fr);
    }
}
@media (max-width:950px){
    main > .grid{
        grid-template-columns: repeat(1 , 1fr);
        grid-template-rows: repeat(36 , 1fr);
    }
}
